@import url(https://fonts.googleapis.com/css?family=Roboto|Montserrat:700);

html {
  height: 100%;
  background: #048ec5; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #048ec5 0%, #2ecc71 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #048ec5 0%,#2ecc71 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #048ec5 0%,#2ecc71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048ec5', endColorstr='#2ecc71',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  background-image: url("/images/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 226px;
  height: 156px;
  display: block;
  margin: 200px auto 0;
  // border-bottom: 1px solid rgba(255,255,255,0.6);
  // padding-bottom: 25px;
}

.pitch {
  padding-top: 30px;
  font-size: 15px;
  color: white;

  display: block;
  width: 226px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.coming-soon {
  font-family: "Montserrat";
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  display: block;
  width: 226px;
  margin: 0 auto;
}

.ios-icon {
  background-image: url("/images/ios-icon.png");
  background-size: 100%;
  width: 90px;
  height: 90px;
  margin: 30px auto;
}
